body{
      color:#009DCE;
      width: 950px;
      font-family: sans-serif;
}

br { clear: both; }

#qList input, #addQuestion-table input{
    margin-bottom: 0px;
}
.question-field{
    width: 400px;
}
.time-field{
    width: 71px;
}
.available-field{
    width: 50px;
}
.comment-field{
    width: 70px;
}
.tags-field{
    width: 40px;
}
.rating-field{
    width: 50px;
}
.edit-field{
    width: 70px;
}
.delete-field{
    width: 70px; 
}
.delete-question-link{
    color: #c40f0f;
}
.delete-question-link:hover{
    color:#c40f0f;
}

.welcome-message{
    width: 640px;
}
.state-buttons{
    text-align: center;
    width: 70px;
}
#qList {
	width: auto;
}	
#qList .question-field {
	width: 250px;
}
#qList .time-field {
	width: 40px;
}
#qList .state-field label{
	width: 80px;
}
#qList .comment-field {
	width: 30px;
	display: none;
}
#qList .tags-field {
	width: 30px;
	display: none;
}
#qList .rating-field {
	width: 30px;
	display: none;
}
#qList .rankscore-field {
	width: 30px;
}
#qList .edit-field {
	width: 70px;
}
#qList .delete-field {
	width: 70px;
}
#qList td, #addQuestion-table td{
    max-width: 500px;
    word-wrap: break-word;
}
#qList input[type="number"], #addQuestion-table input[type="number"]{
    margin-bottom: 0px;
    width: 40px;
}
#addQuestion-table{
    margin-top: -21px;
}
.cntSeparator {
    font-size: 54px;
    margin: 10px 7px;
    color: #000;
}
.desc { margin: 7px 3px; }
.desc div {
    float: left;
    font-family: Arial;
    width: 70px;
    margin-right: 65px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}
.tags div{
    width:80px;
    display:inline-block;
}
.tags a:hover{ 
	text-decoration: none; 
	font-weight: bold;
	cursor: pointer;
}
.link:hover{ 
	text-decoration: none; 
	font-weight: bold;
	cursor: pointer;
}
#assigned_tags div{
    display: inline-block;
}
#answerfilter-form input[type="text"]{
    margin-right: 20px;
}
textarea{
    border: 2px dotted #009DCE;
    background: rgb(247, 251, 252);
    color:#126a65;
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
    resize: none;
}
textarea:focus{
    background:  #ffffff;
}
#assigntags legend{
    border:none;
}
/* 'star-rating' component */
.starRate {position:relative; margin-bottom:10px; overflow:hidden; zoom:1;}
.starRate ul {width:160px; margin:0; padding:0;}
.starRate li {display:inline; list-style:none;}
.starRate a, .starRate b {background:url(../img/star_rate.gif) left top repeat-x;}
.starRate a {float:right; margin:0 80px 0 -144px; width:80px; height:16px; background-position:left 16px; color:#000; text-decoration:none;}
.starRate a:hover {background-position:left -32px;}
.starRate b {position:absolute; z-index:-1; width:80px; height:16px; background-position:left -16px;}
.starRate div b {left:0px; bottom:0px; background-position:left top;}
.starRate a span {position:absolute; left:-300px;}
.starRate a:hover span {left:90px; width:100%;}

.reviewanswer_left{
    float:left;
    width: 400px;
}
.reviewanswer_left textarea{
    width: 400px;
    height: 100px;
}
.reviewanswer_right{
    float:right;
}
.no-border{
    border:none !important
}
.question{
    font-size: 18px;
    font-weight: bold;
    color:#009DCE;
    cursor: pointer;
}
.question:hover{
    text-decoration: underline;
}
#questions .submitted{
    display: inline-block;
    margin:0;
    margin-left: 5px;
    padding: 4px 40px 4px 10px;
    margin-top: 1px;
}
#questions .submitted button.close-submitted{
    top: -1px;
    right: -134px;
    float:none;
}
.countdowntime{
    margin: -34px 0 0 330px;
    font-size: 25px;
}

.countdowntimesmall{
    float: left;
    font-size: 15px;
}
#questions textarea{
    width: 400px;
    height: 120px;
}
#answer{
    font-size: 18px;
    font-weight: bold;
	margin-bottom: 5px;
    color:#009DCE;
}