<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15; no-cache" />

    <title>Groep 2</title>

    {% block css %}
    <link type="text/css" href="/static/css/style.css" rel="stylesheet" />
    {% endblock %}

    {% block js %}
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    {% endblock %}
    
    <style type="text/css">
    a.blue:link {color: #009DCE;}
    a.blue:active {color: #009DCE;}
    a.blue:visited {color: #009DCE;}
    a.blue:hover {color: #009DCE;}
    a{text-decoration:none}
    </style>
</head>
<body>
    {% block content %}
    <p>
        This is a placeholder. Please override the <strong>content</strong>
        block in your template.
    </p>
    {% endblock %}
</body>
</html>
