<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15; no-cache" />

    <title>Groep 2</title>

        {% block css %}
        <link type="text/css" href="/static/css/style.css" rel="stylesheet" />
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen" />
        {% if lti.get_consumer() == 'blackboard' %}
        <link type="text/css" href="/static/css/blackboard.css" rel="stylesheet" />
        {% endif %}
        {% endblock %}

        {% block js %}
        <script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% if lti.is_instructor() %}
            <div id="include_menu">{% include "_menu_instructor.html" %}</div>
        {% endif %}
        {% block content %}
        <p>
            This is a placeholder. Please override the <strong>content</strong>
            block in your template.
        </p>
        {% endblock %}
    </body>
</html>
