<ul id="menu_instructor" class="nav nav-pills">
    <li><a href="/question_list" class="blue">Question list</a></li>
    <li><a href="/filteranswers" class="blue">Show answers</a></li>
    <li><a href="/managetags" class="blue">Manage tags</a></li>
    <li><a href="/assigntags" class="blue">Assign tags</a></li>
    <li><a href="/assignratings" class="blue">Assign ratings</a></li>
    <li><a href="/reviewanswer_stub">Review an answer</a></li>
    <li><a href="/question_export" class="blue">Export questions for this course</a></li>
</ul>