<html>
<head>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.countdown.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen" />
	<script type="text/javascript">
var countdownCurrent = {{timerDuration}} //number of seconds


$(function () {

	var austDay = new Date({{date}} * 1000);
	austDay.setSeconds(austDay.getSeconds() + countdownCurrent);
	$('#counter').countdown({until: austDay, compact: true, onExpiry: submitForm, format: 'MS'});

    if ($('#counter').countdown('getTimes') == '0,0,0,0,0,0,0') document.getElementById("answer_form").innerHTML = "you cannot answer this question anymore";


});
function submitForm() {
    document.getElementById("answerform").submit();
}
	</script>
</head>

<body>
{% if go == "true" %}
    <div id="answer_form">
        <form action="/answer" id="answerform" method="post">
            <br>
            <div id="question">{{questionText}}</div>
            <input type="hidden"  name="questionID" value="{{questionID}}" />
            uid: <input type="text" name="userID" value="{{userID}}" />
            <br>
            Answer: <br><textarea name="answerText" cols=50 rows=10></textarea>
            <br>
            <input type="submit" value="submit answer" class="submit-answer"/>
        </form>
        <div id="counter" class="countdowntime"></div>
        <div class="desc">
            <div>Minutes</div>
            <div>Seconds</div>
        </div>
    </div>
    
    <div>
      <input type="text" id="demo-input-facebook-theme" name="blah2" />
      <input type="button" value="Submit" />
      <script type="text/javascript">
        $(document).ready(function() {
        $("#demo-input-facebook-theme").tokenInput("http://localhost:5000/json/get_tags", {
        theme: "facebook"
        });
        });
      </script>
    </div>
    
{% else %}
<p>You have already answered this question.</p>
{% endif %}
</body>
</html>

