<html>
    <body>
        <form method="POST">
            Filter by:<br\>
            ID: <input type="text" name="id"/>
            UserID: <input type="text" name="userID"/>
            <input type="submit" value="Go"/>
        </form>
        <table style="border:1px solid black;">
            <th>
                <td>id</td>
                <td>questionID</td>
                <td>userID</td>
                <td>text</td>
                <td>created on</td>
                <td>modified on</td>
            </th>
            {% for answer in answers %}
                <tr>
                    <td style="border:1px solid black;">{{ answer.id }}</td>
                    <td style="border:1px solid black;">{{ answer.questionID }}</td>
                    <td style="border:1px solid black;">{{ answer.userID }}</td>
                    <td style="border:1px solid black;">{{ answer.text }}</td>
                    <td style="border:1px solid black;">{{ answer.created }}</td>
                    <td style="border:1px solid black;">{{ answer.modified }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
