{% extends "_base.html" %}
{% block content %}
<script language="javascript" type="text/javascript">
    var stdlimit = 10;
    var currPage = 1;
{% if hasqid %}
    var currentQuestionFilter = {{questionID}};
{% else %}
    var currentQuestionFilter = -1;
{% endif %}
    var currentUserFilter = -1;

    $(document).ready(function() {
        refresh_table_default();
    });

    function setfilteruser(userid,username){
        currentUserFilter = userid;
        $('a#userfiltertext').text(username)
        reload();
    }   

    function clearfilteruser(){
        currentUserFilter = -1;
        $('a#userfiltertext').text('Select User')
        reload();
    }

    function setfilterquestion(questid,questtext){
        currentQuestionFilter = questid;
        $('a#questionfiltertext').text(questtext.substring(10)+'...')
        reload();
    }   

    function clearfilterquestion(){
        currentQuestionFilter = -1;
        $('a#questionfiltertext').text('Select Question')
        reload();
    }
    function load_page(page){
        currPage = page;
        refresh_table((page-1)*stdlimit,stdlimit);
    }

    function refresh_table_default(){
        refresh_table(0,stdlimit);
    }

    function refresh_table(offset,limit){
        var dict = {offset:offset,limit:limit}

        if (currentUserFilter != -1){
            dict['userID'] = currentUserFilter;
        }

        if (currentQuestionFilter != -1){
            dict['questionID'] = currentQuestionFilter;
        }

        $.get('/filteranswerstbl',
            dict,
            function(data){
            $('#tblContainer').html(data);});
    }

    function reload(){
        load_page(currPage);
    }
</script>

<div id='tblContainer'></div>
{% endblock %}
