{% extends "_base.html" %}
{% block content %}
<form method="POST" class="form-inline" id="answerfilter-form">
    <b>Filter by:</b><br>
    <label>ID</label> <input type="text" name="id"/>
    <label>UserID</label> <input type="text" name="userID"/>
    <label>QuestionID</label> <input type="text" name="questionID"/>
    <input type="submit" value="Search" class="btn btn-primary"/>
</form>
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>questionID</th>
            <th>userID</th>
            <th>text</th>
            <th>created on</th>
            <th>modified on</th>
        </tr>
    </thead>
    {% for answer in answers %}
    <tr>
        <td style="border:1px solid black;">{{ answer.id }}</td>
        <td style="border:1px solid black;">{{ answer.questionID }}</td>
        <td style="border:1px solid black;">{{ answer.userID }}</td>
        <td style="border:1px solid black;">{{ answer.text }}</td>
        <td style="border:1px solid black;">{{ answer.created }}</td>
        <td style="border:1px solid black;">{{ answer.modified }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
