<html>
<head>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.countdown.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen" />
    
    <!-- Includes used for autocomplete -->
    <script type="text/javascript" src="../static/js/jquery.tokeninput.js"></script>
    <link rel="stylesheet" href="../static/css/token-input.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/token-input-facebook.css" type="text/css" />
    
</head>

<body>
{% if go == "true" %}
    <div id="answer_form">
        <form action="/answer" id="answerform" method="post">
            <br>
            <div id="question">{{questionText}}</div>
            <input type="hidden"  name="questionID" value="{{questionID}}" />
            uid: <input type="text" name="userID" value="{{userID}}" />
            <br>
            Answer: <br><textarea name="answerText" cols=50 rows=10></textarea>
            <br>
            <input type="submit" value="go" class="submit-answer"/>
        </form>
        <div id="counter" class="countdowntime"></div>
        <div class="desc">
            <div>Minutes</div>
            <div>Seconds</div>
        </div>
    </div>
    
    <div>
        <input type="text" id="demo-input-facebook-theme" name="blah2" />
        <input type="button" value="Submit" />
        <script type="text/javascript">
            $(document).ready(function() {
                $("#demo-input-facebook-theme").tokenInput("/json/get_tags", {
                theme: "facebook"
                });
            });
        </script>
    </div>
    
{% else %}
<p>You have already answered this question.</p>
{% endif %}
</body>
</html>

