<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <LINK href="/static/style.css" rel="stylesheet" type="text/css">
        <title>Rating</title>
        </head>
        <body>
        
        
        <div id="container">
            <div id="quest">
                {{ questions.question }}
            </div>
            
            <a href="#">
            <div id="answleft">
                {{ answers[0].text }}
            </div>
            </a>
            
            <a href="#">
            <div id="answright">
                {{ answers[0].text }}
            </div>
            </a>
        </div>
        </body>
        </html>
