<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <LINK href="/static/css/style.css" rel="stylesheet" type="text/css">
        <title>Rating</title>
        </head>
        <body>
		
		<!-- Call the questions and answers from the database -->
            <div id="quest">
                {{ question.question }}
            </div>
			
			<form action="/answerchoice" method="post">
				<input type="hidden" name="answerzero" id="answerzero" value="{{ answer1.id }}">
				<input type="hidden" name="answerone" id="answerone" value="{{ answer2.id }}">
				<button type="submit" name="bestanswer" value="{{ answer1.id }}">{{ answer1.text }}</button>
				<button type="submit" name="bestanswer" value="{{ answer2.id }}">{{ answer2.text }}</button>
				<button type="button" onclick="window.location='/index_student'" class="submit-answer">back</button>
			</form>
        </body>
        </html>
