{% extends "_base.html" %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="/static/js/jquery.countdown.js"></script>
<script type="text/javascript" src="/static/js/student.js"></script>
{% endblock %}

{% block content %}
<div id="pleasewait">
    <br>
    <div class="alert alert-info">
        <i class="icon-time"></i>&nbsp;Please wait for your instructor to ask a question.
    </div>
</div>
<div id="questionWasDeleted" style="display: none;">The question was deleted. Your answer was not
    saved</div>

<!-- For answering a question. -->
<div id="questions" class="accordion"></div>

<!-- For the review button. -->
<form action="/review" id="reviewform" method="post" style="display:none;">
    <input type="submit" value="You can review answers!" id="review-answer"/>
</form>
{% endblock %}
