<html>
<head><title>Groep 2</title></head>
<body>
    <a href="#" onclick="document.questionForm.submit(); return false;">Ask a question</a>
    <form action="http://localhost:5000/question" method="post" name="questionForm">
    </form>

    <a href="#" onclick="document.answerForm.submit(); return false;">Post an answer</a>
    <form action="http://localhost:5000/answer" method="post" name="answerForm">
    </form>

    <a href="#" onclick="document.deleteForm.submit(); return false;">Delete a question</a>
    <form action="http://localhost:5000/deleteQuestion/1" method="post" name="deleteForm">
    </form>

    <a href="/question_export">Export questions for this course</a>

    <hr />
    LTI data:<br />
    <pre>{{ lti_dump }}</pre>

</body>
</html>
