<html>
<head><title>Groep 2</title></head>
<body>
ddfdfkdfkldflkjdfkjldflkflfjldfldffslkjsfjlk
    <a href="http://localhost:5000/answer">Post an answer</a>
	<a href="http://localhost:5000/answerchoice">Rank it</a>

    <a href="http://localhost:5000/rankresults">Show results/stats</a>
    <hr />
    LTI data:<br />
    <pre>{{ lti_dump }}</pre>
    
    <!-- we only want post requests --!>
    <a href="#" onclick="document.mtags.submit(); return false;">Manage the tags</a>
    <form action="http://localhost:5000/managetags" method="post" name="mtags">
    </form>
</body>
</html>
