<html>
<head><title>Groep 2</title></head>
<body>
    <!-- Just support GET damnit :P -->
    <ul>
        <li><a href="/question_list">Question list</a></li>
        <li><a href="/question">Ask a question</a></li>
        <li><a href="/answer">Post an answer</a></li>
        <li><a href="/filteranswers">Show answers</a></li>
        <li><a href="/managetags">Manage tags</a></li>
        <li><a href="/assigntags">Assign tags</a></li>
        <li><a href="/assignratings">Assign ratings</a></li>
        <li><a href="/reviewanswer_stub">Review an answer</a></li>
        <li><a href="/question_export">Export questions for this course</a></li>
    </ul>
    <hr />
    LTI data:<br />
    <pre>{{ lti_dump }}</pre>
</body>
</html>
