{% extends "_base.html" %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="/static/js/jquery.timer.js"></script>
<script type="text/javascript" src="/static/js/jquery.countdown.js"></script>
<script type="text/javascript" src="/static/js/student.js"></script>
{% endblock %}

{% block content %}
<p id="pleasewait">Please wait for your instructor to ask a question.</p>

<!-- For answering a question. -->
<form action="/answer" id="answerform" method="post" style="display:none;">
    <br>
    <div id="question"></div>
    <br>
    Answer: <br><textarea name="answerText" cols=50 rows=10></textarea>
    <br>
    <input type="submit" value="submit answer" class="submit-answer"/>
    <div id="counter" class="countdowntime"></div>
</form>

<!-- For the review button. -->
<form action="/review" id="reviewform" method="post" style="display:none;">
    <input type="submit" value="You can review answers!" id="review-answer"/>
</form>

<!-- For asking questions to instructor -->
<ul>
    <li><a href="/question_list" class="blue">Question list</a></li>
</ul>
{% endblock %}
