{% extends "_base.html" %}
{% block content %}
<legend>These are the current tags</legend>
<form class="form-inline" action="/addtag" method="post">
  Add new tag:  <input type="text" name="newTag">
  <input class="btn" type="submit" value="Add Tag">
</form>

<form action="/removetag" method="post">
    <label class="checkbox">
        {% for tag in tags %}
            <input type="checkbox" name="remove_tags" value="{{tag.id}}">
                {{tag.name}}
            </input>
            <br>
        {% endfor %}
    </label>
    <input class="btn" type="submit" value="Delete">
</form>
{% endblock %}
