{% extends "_base.html" %}
{% block content %}
<form class="form-inline" action="/addtag" method="post">
  <b>New tag:</b>
  <br>
  <input type="text" name="newTag">
  <input class="btn-primary btn" type="submit" value="Add Tag">
</form>

<form action="/removetag" method="post">
	<b>Current tags:</b>
	<br>
    <label class="checkbox">
        {% for tag in tags %}
            <input type="checkbox" name="remove_tags" value="{{tag.id}}">
                {{tag.name}}
            </input>
            <br>
        {% endfor %}
    </label>
    <input class="btn" type="submit" value="Delete">
</form>
{% endblock %}
