<html>
<head>
  <title>Test</title>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>

<script language="javascript" type="text/javascript">
  function edit_question(id,text){
    $.getJSON("/edit_question",{id:id,text:text},
    function(data){
      if(!data.available){
        temp="False"
      }
      else{
        temp="True"
      }
      $('#available_'+id).html(temp);
      $('#text_'+id).html(data.text);
    });
  }

    function delete_question(id){
        $.getJSON("/delete_question/"+id,{},
            function(data){
                if (data.deleted)
                    $('#row_'+id).remove();
                else
                    $('#error').html("Error while deleting question.");
            });
    }

  function activate_question(id){
    $.getJSON("/activate_question",{id:id},
    function(data){
      if(!data.available){
        temp="False"
      }
      else{
        temp="True"
      }
      $('#available_'+id).html(temp);
    });
  }
</script>

<body>
{%block body%}
<div id="error" style="background-color: #a33; color: white;"></div>
    <table border=1>
    <tr>
      <td>id</td>
      <td>vragen</td>
      <td>available</td>
      <td>edit</td>
      <td>activate</td>
      <td>delete</td>
    </tr>
      {%for question in questions%}
        <tr id="row_{{question.id}}">
          <td id="id_{{question.id}}">{{question.id}}</td>
          <td id="question_{{question.id}}">{{question.question}}</td>
          <td id="available_{{question.id}}">{{question.available}}</td>
          <td><button value="edit" onclick=edit_question({{question.id}},"edited_text") />edit</td>
          <td><button value="activate" onclick=activate_question({{question.id}}) />activate</td>
          <td><button value="delete" onclick=delete_question({{question.id}}) />delete</td>
        </tr>
      {%endfor%}
    </table>
    <a href="/">Back</a>
{%endblock%}
</body>
