{% extends "_base.html" %}
{% block content %}

<script language="javascript" type="text/javascript">
    var stdlimit = 10;
    var currPage = 1;
    var edit_count = 0;
    var query_interval = 1000 * 5; // Every 5 sec
    var query_interval_id;
    var adding_question = false;
    
    $(function() {    
        get_student_questions();
        query_interval_id = setInterval(get_student_questions, query_interval);    
        
    });
    $(document).ready(function() {
        refresh_table(0,stdlimit);
        
    });
    
    function get_student_questions(){
        $.getJSON("/get_student_questions", {},
        function(data) {          
            $('#student_questions').html('<thead><tr><td><b>Student name</b></td><td><b>Suggested question</b></td></tr></thead><tr></tr>');
           for (key in data) {
               $('#student_questions tr:last').after('\
               <tr id=userrow_'+data[key].id+'> \
                    <td>'+data[key].user+'</td><td id="user_q'+data[key].id+'">'+data[key].text+'</td> \
                    <td><input id="addQ" type="submit" value="Copy question" class="btn-primary btn" onclick=add_userquestion('+data[key].id+') ></button></td>\
                    <td><a onClick="delete_userquestion('+data[key].id+')" data-toggle="modal" class="delete-question-link link" ><i class="icon-remove-sign"></i> delete</a></td> \
               </tr>')     
            }
            if (adding_question)
                $('#addQ').attr('disabled', 'disabled')
        }
    )}      
    
    function add_userquestion(id){
        text = $('#user_q'+id).text();        
        add_question();
        $('#qtext').prop('value', text);        
    }
    
    function delete_userquestion(id){    
        $.getJSON("/delete_userquestion/"+id,{},
        function(data){            
            if (data.deleted)
                $('#userrow_'+id).remove();                
        });
    }

    function refresh_table(offset,limit){
        $.get('/question_list_table',{offset:offset,limit:limit},
            function(data){
            $('#questListForm').html(data);});
    }

    function refresh_table_default(){
        refresh_table(0,stdlimit);
    }

    function load_page(page){
        currPage = page;
        refresh_table((page-1)*stdlimit,stdlimit);
    }

    function reload(){
        load_page(currPage);
    }


    function edit_field(id){        
        var elem = $('#question_' + id + ' a');
        var time_elem = $('#time_'+id);

        var text = elem.text();
        var time = time_elem.text();
        
        if (isNaN(time))
            time = 0;
        
        elem.hide();
        time_elem.text('');

        var edit_field = $('<input type="text" class="input-block-level" placeholder="your question">').prop('value', text);
        var time_field = $('<input type="number" size="3" maxlength="3" value="" placeholder="sec">').prop('value', parseInt(time));

        var editelem = $('#sedit_'+id);
        edit_count++;

        editelem.click(function(){
            edit_count--;
            $('#edit_'+id).show();
            elem.show();
            $('#sedit_'+id).hide();
            
            var newTime = time_field.val();            
            var newText = edit_field.val();

                
            edit_question(id,newText,newTime);

            if (newTime == 0)
                newTime = $("<div/>").html('&#8734').text();

            elem.text(newText);
            time_elem.text(newTime);

            $(time_field).remove();
            $(edit_field).remove();
            $('#sedit_'+id).unbind('click');
        });
        $('#sedit_'+id).show();
        editelem.css('color', '');
        editelem.css('font-weight', 'normal');

        $('#edit_'+id).hide();

        edit_field.blur(function() {
            editelem.css('color', 'darkorange');
            editelem.css('font-weight', 'bold');
        });
        edit_field.appendTo(elem.parent());
        time_field.appendTo(time_elem);
        edit_field.focus();
    }

    function edit_question(id,text,time){
        $.getJSON("/edit_question",{id:id,text:text,time:time},
        function(data){
            if(data.check){
                $('#question_'+id).html('<a href=\"/filteranswers/'+data.id+'\">'+
                    escapeMarkup(data.text) +
                    '</a>'
                );
                if (data.time == 0)timeDisplay = '&#8734;'; else timeDisplay = data.time;
                $('#time_'+id).html(timeDisplay)
            }
            else{
                $('#error').html("Error while editing question question.");
            }
        });
    }
    
	var advanced_visible = false;
	function advanced(){
		if (advanced_visible) {
			$('.comment-field').hide();
			$('.tags-field').hide();
			$('.rating-field').hide();
            $('#advanced').prop('value', 'Advanced');
		} else {
			$('.comment-field').show();
			$('.tags-field').show();
			$('.rating-field').show();
            $('#advanced').prop('value', 'Simple');
		}
		advanced_visible = !advanced_visible;
    }
    
    function delete_question(id){
        $.getJSON("/delete_question/"+id,{},
        function(data){
            if (data.deleted)
                $('#row_'+id).remove();
            else
                $('#error').html("Error while deleting question.");
        });
    }

    function toggle_review_options(id, type){
        $.getJSON("/togglequestion",{id:id, type:type},
        function(data){
            if(data.check){
                if(!data.toggle){
                    $('input[name='+type+''+id+']').attr('checked', false);
                }
                else{
                    $('input[name='+type+''+id+']').attr('checked', true);
                }
            }
            else{
                $('#error').html("Error while togging question question.");
            }
        });
    }

    function next_state(id){
        current_state = $('#state'+id).text();
        if(current_state == 'Inactive')
            toggle_state(id, 'Answerable');
    }

    function toggle_state(id, type){
    $.getJSON("/togglequestion",{id:id, type:type},
    function(data){
      if(data.check){
        if(type == "Inactive"){
          answerable="True";
          $('#q'+id+'_drop1').hide();
          $('#q'+id+'_drop2').show();
          $('#q'+id+'_drop3').show();
          $('#q'+id+'_drop4').show();
        }
        if(type == "Answerable"){
          answerable="True";
          $('#q'+id+'_drop2').hide();
          $('#q'+id+'_drop1').show();
          $('#q'+id+'_drop3').show();
          $('#q'+id+'_drop4').show();
        }
        if(type == "Reviewable"){
          reviewable="True";
          $('#q'+id+'_drop3').hide();
          $('#q'+id+'_drop1').show();
          $('#q'+id+'_drop2').show();
          $('#q'+id+'_drop4').show();
        }
        if(type == "Archived"){
          archived="True";
          $('#q'+id+'_drop4').hide();
          $('#q'+id+'_drop1').show();
          $('#q'+id+'_drop2').show();
          $('#q'+id+'_drop3').show();
        }
        $('#state'+id).html(type);
      }
      else{
        $('#error').html("Error while togging question question.");
      }
    });
    }

    function checkSubmit(e)
    {
        if(e && e.keyCode == 13)
        {
            if( document.getElementById('addQ').style.display == 'none')
                save_question();
        }
    }
    function add_question(){
        adding_question = true;
        $('#addQ').attr('disabled', 'disabled')
        $('#addQ').attr('disabled', 'disabled')
        $('#qList tr:first').after(
        '<tr>\
			<td class="question-field"><input id="qtext" type="text" class="input-block-level" name="question" placeholder="your question"></td> \
			<td class="time-field"><input id="qtime" type="number" name="time" size="3" maxlength="3" placeholder="sec"></td> \
			<td class="state-field"><label class="checkbox"><input id="qact" type="checkbox" name="active">Answerable</label></td> \
			<td class="comment-field"><input id="qcomm" type="checkbox" name="comment" checked></td> \
			<td class="tags-field"><input id="qtag" type="checkbox" name="tags" checked></td> \
			<td class="rating-field"><input id="qrat" type="checkbox" name="rating" checked></td> \
			<td colspan=2><input id="save_question" type="submit" onclick=save_question() class="btn btn-block btn-primary" value="Add Question"></td>\\n\
                        <td><input style="display:none" type="submit"id="cancelQ" value="Cancel" class="btn" onclick=cancel_question() ></button></td>\
		</tr>');
		if (!advanced_visible) {
			$('.comment-field').hide();
			$('.tags-field').hide();
			$('.rating-field').hide();
		}
        $('#cancelQ').show()
        $('#qtext').focus();

        if (edit_count > 0) {
            alert("You have "+edit_count+" open edits, that still need to be submitted.");
        }        
    }

    function cancel_question(){
        adding_question = false;
        $('#cancelQ').hide()        
        $('#qList tr:eq(1)').remove()
    }

    function save_question(){
		$('#save_question').attr('disabled', 'disabled')
        activev = ($('#qact').is(':checked') ? true : false);
        commentv = ($('#qcomm').is(':checked') ? true : false);
        tagsv = ($('#qtag').is(':checked') ? true : false);
		ratingv = ($('#qrat').is(':checked') ? true : false);
        timev = $('#qtime').val();
        questionv = $('#qtext').val();

        $.getJSON('/handle_question',{active:activev,comment:commentv,tags:tagsv,
            question:questionv,time:timev,rating:ratingv},
            function(data){
                if (data.done) {
                    adding_question = false;                    
                    $('#save_question').attr('disabled', false);
                    $('#addQ').attr('disabled', false);
                    $('#addQ').attr('disabled', false);                    
                    $('#cancelQ').hide();      
                    $('#qList tr:eq(1)').remove() 
                    reload();
                }                
                else {                                       
                    alert("Please fill in a question");
                    cancel_question();
                }
            });
        return false;
    }
    
    var student_questions_visible = false;
	function student_questions(){
		if (student_questions_visible) {
			$('#student_questions').hide();
            $('#student_questions_btn').prop('value', 'Show student questions');
		} else {
			$('#student_questions').show();
            $('#student_questions_btn').prop('value', 'Hide student questions');
		}
		student_questions_visible = !student_questions_visible;
    }

</script>

<div id="buttons"> 
    <input type="submit"id="student_questions_btn" value="Show student questions"class="btn-primary btn" onclick=student_questions() ></button>
</div>
<table id="student_questions" class="table table-hover table-bordered table-striped"></table>

<hr>

<div id="error" style="background-color: #a33; color: white;"></div>
<div id="questListForm" onKeyPress="return checkSubmit(event)" style="display:block"></div>

{% endblock %}
