<script language="javascript" type="text/javascript">
    $(document).ready(function() {
            $.get('/pagination',{currentpage:{{ currentpage }},
                startpage:{{ startpage }},
                pagecount:{{ pagecount}},
                maxpages:{{ maxpages }},
                },
            function(data){
                $('#paginationtop').html(data);
                $('#paginationbottom').html(data);
            });
    });
</script>

<div id="paginationtop"/>
    <div id="buttons" style="margin-bottom: 20px;"> 
        <input type="submit"id="addQ" value="Add Question" class="btn-primary btn" onclick=add_question() ></button>
        <input type="submit"id="advanced" value="Advanced" class="btn" onclick=advanced() ></button>    
    </div>
    
    <table id="qList" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <!--<th>id</th>-->
                <th class="question-field">Question</th>
                <th class="time-field">Time</th>
                <th class="state-field">State</th>
                <th class="comment-field">Comments</th>
                <th class="tags-field">Tags</th>
                <th class="rating-field">Rating</th>
                <th class="rankscore-field">Ranking</th>
                <th class="edit-field">Edit</th>
                <th class="delete-field">Delete</th>
            </tr>
        </thead>
        {% for question in questions %}
        <tr id="row_{{question.id}}">
            <td class="question-field" id="question_{{question.id}}">
                <a href="/filteranswers/{{question.id}}" class="blue">{{question.question}}</a>
            </td>
            <td class="time-field" id="time_{{question.id}}">{% if question.time == 0 %}&#8734; {% else %} {{question.time}} {% endif %}</td>
            <td class="state-field" id="available_{{question.id}}">
                <div class="btn-group">
                    <a id ="state{{question.id}}" class="btn btn-info state-buttons" href="#" onclick=next_state({{question.id}})>{{question.state}}</a>
                    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if question.inactive %}style="display:none"{% endif %} id="q{{question.id}}_drop1"><a href="#" onclick="toggle_state({{question.id}}, 'Inactive')">Inactive</a></li>
                        <li {% if question.answerable %}style="display:none"{% endif %} id="q{{question.id}}_drop2"><a href="#" onclick="toggle_state({{question.id}}, 'Answerable')">Answerable</a></li>
                        <li {% if question.reviewable %}style="display:none"{% endif %} id="q{{question.id}}_drop3"><a href="#" onclick="toggle_state({{question.id}}, 'Reviewable')">Reviewable</a></li>
                        <li {% if question.closed %}style="display:none"{% endif %} id="q{{question.id}}_drop4"><a href="#" onclick="toggle_state({{question.id}}, 'Closed')">Closed</a></li>
                    </ul>              
            </td>
            <td class="comment-field" id="comments_{{question.id}}"><input type="checkbox" name="comments{{question.id}}" onclick="toggle_review_options({{question.id}}, 'comments')" {% if question.comment %}checked{% endif %}></td>
            <td class="tags-field" id="tags_{{question.id}}"><input type="checkbox" name="tags{{question.id}}" onclick="toggle_review_options({{question.id}}, 'tags')" {% if question.tags %}checked{% endif %}></td>
            <td class="rating-field" id="rating_{{question.id}}"><input type="checkbox" name="rating{{question.id}}" onclick="toggle_review_options({{question.id}}, 'rating')" {% if question.rating %}checked{% endif %}></td>
			<td class="rankscore-field" id="rr_{{question.id}}">
                <a href="/rankresults?questionid={{question.id}}" class="blue link">view</a>
			</td>
            <td class="edit-field">
                <a href="#" id="edit_{{question.id}}" onclick=edit_field({{question.id}}) class="link") ><i class="icon-pencil"></i> edit</a>
                <a href="#" id="sedit_{{question.id}}" style="display:none"><i class=" icon-ok-sign link"></i> submit</a>
            </td>
            <td class="delete-field"><a href="#delete_question{{question.id}}" data-toggle="modal" class="delete-question-link link" ><i class="icon-remove-sign"></i> delete</a></td>
        </tr>
        <div id="delete_question{{question.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel">Delete question</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete question "{{question.question}}" ?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="delete_question({{question.id}});">Delete question</button>
            </div>
        </div>
        {% endfor %}
    </table>
<div id="paginationbottom"/>