<script language="javascript" type="text/javascript">
    $(document).ready(function() {
            $.get('/pagination',{currentpage:{{ currentpage }},
                startpage:{{ startpage }},
                pagecount:{{ pagecount}},
                maxpages:{{ maxpages }},
                },
            function(data){
                $('#paginationtop').html(data);
                $('#paginationbottom').html(data);
            });
    });
</script>
<div id="paginationtop"/>
    <table id="qList" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <!--<th>id</th>-->
                <th>Question</th>
                <th>Time</th>
                <th>Active</th>
                <th>Comments</th>
                <th>Tags</th>
                <th>Rating</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for question in questions %}
        <tr id="row_{{question.id}}">
            <td class="question-field" id="question_{{question.id}}">
                <a href="/filteranswers/{{question.id}}" class="blue">{{question.question}}</a>
            </td>
            <td class="time-field" id="time_{{question.id}}">{{question.time}}</td>
            <td id="available_{{question.id}}"><input type="checkbox" name="active{{question.id}}" onclick="toggle_question({{question.id}}, 'active')" {% if question.available %}checked{% endif %}></td>
            <td id="comments_{{question.id}}"><input type="checkbox" name="comments{{question.id}}" onclick="toggle_question({{question.id}}, 'comments')" {% if question.comment %}checked{% endif %}></td>
            <td id="tags_{{question.id}}"><input type="checkbox" name="tags{{question.id}}" onclick="toggle_question({{question.id}}, 'tags')" {% if question.tags %}checked{% endif %}></td>
            <td id="rating_{{question.id}}"><input type="checkbox" name="rating{{question.id}}" onclick="toggle_question({{question.id}}, 'rating')" {% if question.rating %}checked{% endif %}></td>
            <td class="edit-field">
                <a href="#" id="edit_{{question.id}}" onclick=edit_field({{question.id}}) ><i class="icon-pencil"></i> edit</a>
                <a href="#" id="sedit_{{question.id}}" style="display:none"><i class=" icon-ok-sign"></i> submit</a>
            </td>
            <td><a href="#delete_question{{question.id}}" data-toggle="modal" class="delete-question-link" ><i class="icon-remove-sign"></i> delete</a></td>
        </tr>
        <div id="delete_question{{question.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel">Delete question</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete question "{{question.question}}" ?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="delete_question({{question.id}});">Delete question</button>
            </div>
        </div>
        {% endfor %}
    </table>
<div id="paginationbottom"/>
