{% extends "_base.html" %}
{% block content %}
<table>
  <tr>
    <td>{{ answer.id }}</td>
    <td>{{ answer }}</td>
    <td><form action="/assignratings_done" method="post">
      1
      <input type="radio" name="rating" value="1">
      <input type="radio" name="rating" value="2">
      <input type="radio" name="rating" value="3">
      <input type="radio" name="rating" value="4">
      <input type="radio" name="rating" value="5">
      5
      <input type="submit" name="rating" value="Submit Rating">
      </form>
    </td>
  </tr>
</table>
<a href="http://localhost:5000" class="blue">Back to index</a>
{% endblock %}
