<html>
<head>
</head>
	<body>
		<h1>Review this answer:</h1>
		<div class="answer">{{ answer }}</div>
		<legend>Current Tags:<legend>
			{% for tag in tags %}
				{% if tag.id in enabledtags %}
					{{ tag.name }}
				{% endif %}
			{% endfor %}
		<legend>Assign tags:</legend>

		<form action="/reviewanswer" method="POST">
			{% for tag in tags %}
			<input type="checkbox" name="assign_tags" value="{{tag.id}}">
				{{tag.name}}
			</input>
			{% endfor %}
		
			<legend>Remove tags:</legend>
			
			{% for tag in tags %}
			<input type="checkbox" name="remove_tags" value="{{tag.id}}">
				{{tag.name}}
			</input>
			{% endfor %}
			<input type="submit" value="remove"> 
			<hr>
			<table>
				<tr>
					<td>
						1
						<input type="radio" name="rating" value="1">
						<input type="radio" name="rating" value="2">
						<input type="radio" name="rating" value="3">
						<input type="radio" name="rating" value="4">
						<input type="radio" name="rating" value="5">
						5
					</td>
				</tr>
			</table>
			<textarea name="text" rows="4" cols="50" placeholder="Insert your comment here.">
			</textarea>
			<input type="submit" name="rating" value="Submit review">
		</form>
	</body>
</html>
