{% extends "_base.html" %}
{% block content %}

<script>
    function rating2(value){
        $("#1").html("<span>Rate it 1 stars</span>");
        $("#2").html("<span>Rate it 2 stars</span>");
        $("#3").html("<span>Rate it 3 stars</span>");
        $("#4").html("<span>Rate it 4 stars</span>");
        $("#5").html("<span>Rate it 5 stars</span>");

        $("#" + value).html("<span>Rate it " + value + " stars</span><b></b>");
        document.getElementById("input_rating").value = value;
    }
    
    function remove_tag(aid, tid, tname){
        $.getJSON("/removetaganswer",{answerid:aid, tagid:tid},
            function(data){
                if (data.deleted) {
                    $('#remove_'+tid).remove();
                    $('#assigned_tag_'+tid).remove();
                    $('#available_tags').append('\
                        <div id="assign_tag_'+tid+'">\
                            <div><a onclick="javascript:add_tag('+aid+','+tid+',\''+tname+'\');">\
                                <i class="icon-ok"></i> '+tname+' \
                            </a></div>\
                        </div>')
                }
                else
                    $('#error').html("Error while deleting question.");
            });
    }
    
    function add_tag(aid, tid, tname){
        $.getJSON("/addtaganswer",{answerid:aid, tagid:tid},
            function(data){
                if (data.deleted) {
                    $('#assign_tag_'+tid).remove();
                    $('#remove_tags').append('\
                            <div class="tags" id="remove_'+tid+'">\
                                <div>'+tname+'</div>\
                                <div><a onclick="javascript:remove_tag('+aid+','+tid+',\''+tname+'\');">\
                                    <i class="icon-remove-sign"></i> delete \
                                </a></div>\
                            </div>')
                }
                else
                    $('#error').html("Error while deleting question.");
            });
    }
</script>

<div id="error"></div>
<form action="/reviewanswer" method="POST">
    <div class="reviewanswer_left">
		<div class="question accordion-header">{{ question.question }}</div>
		<hr>
		<div id="answer" class="question accordion-header">
			{{ answer }} <br>
		</div>
        {% if question.comment %}
        <textarea name="comments" rows="4" cols="50" placeholder="Insert your comment here..."></textarea>
        {% endif %}
        
        {% if question.rating %}
        <input type="hidden" name="rating" id="input_rating" value="3">
        <div class="starRate">
            <div><b></b></div>
            <ul>
                <li><a href="#" onclick="javascript:rating2(5);" id="5" value="5"><span>Rate it 5 stars</span></a></li>
                <li><a href="#" onclick="javascript:rating2(4);" id="4" value="4"><span>Rate it 4 stars</span></a></li>
                <li><a href="#" onclick="javascript:rating2(3);" id="3" value="3"><span>Rate it 3 stars</span><b></b></a></li>
                <li><a href="#" onclick="javascript:rating2(2);" id="2" value="2"><span>Rate it 2 stars</span></a></li>
                <li><a href="#" onclick="javascript:rating2(1);" id="1" value="1"><span>Rate it 1 star</span></a></li>
            </ul>
        </div>        
        {% endif %}
        
        <div>
            <b>Assign tags:</b>
            <input type="text" id="demo-input-facebook-theme" />
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#demo-input-facebook-theme").tokenInput("/json/get_tags", {
                        theme: "facebook",
                        noResultsText: "No results found",
                        preventDuplicates: true,
                        onAdd: function(tag) {
                            add_tag({{answer.id}},tag.id,'"'+tag.name+'"')
                        },
                        onDelete: function(tag) {
                            remove_tag({{answer.id}},tag.id,'"'+tag.name+'"')
                        },
                        prePopulate: [
                            {% for tag in tags %}
                                {% if tag.id in enabledtags %}
                                    {id: '{{tag.id}}', name: '{{tag.name}}'},
                                {% endif %}
                            {% endfor %}
                        ]
                        
                    });
                });
            </script>
        </div>
        <br>
        <input type="submit" class="btn-primary btn" name="rating" value="Submit review">
    </div>
</form>
{% endblock %}
