<html>
    <body>
        <h1>AssignTags</h1>
            {% for answer in answers %}
                {{ answer.id }}
                {{ answer }}<br>
                
                <form>
                  <fieldset>
                    <legend>Assign tags:</legend>
                    
                    {% for tag in tags %}
                      <input type="checkbox" name="tag" value="{{tag}}">Tag {{tag}}</input>
                    {% endfor %}
                  
                  </fieldset>
                </form>
                <hr>
                
            {% endfor %}            
        
    </body>
</html>
