<html>
    <body>
        <table>
            <!-- table is hardcoded, should be dependening on amount of allowed reviews
                 it might do some weird stuff as questionID and userID combinations should 
                 be unique, which is not the case in the dummy version -->
            {% for answer in answers %}
                {% if answer.weight==0 %}  
                <tr>
                    <td><a href="#" onclick="document.reviewAnswer.id.value={{answer.id}}; document.reviewAnswer.submit(); return false;">{{ answer }}</a></td>
                {% else %}
                    {% for answer2 in answers if answer2.questionID==answer.questionID %}
                        {% if answer2.weight==1 and answer2.userID==answer.userID %}
                        <td><a href="#" onclick="document.reviewAnswer.id.value={{answer.id}}; document.reviewAnswer.submit(); return false;">{{ answer }}</a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}            
        </table>
        <form action='http://localhost:5000/answer' method='POST' name='reviewAnswer' style='display:none'>
			<input name='viewanswer' type='hidden' />
            <input type="hidden"  name="id"  />
			<input type='submit' value='viewanswer' />
		</form>
    </body>
</html>
