{% extends "_base.html" %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="/static/js/jquery.timer.js"></script>
<script type="text/javascript" src="/static/js/jquery.countdown.js"></script>
<script type="text/javascript" src="/static/js/student.js"></script>
{% endblock %}

{% block content %}

<!-- For answering a question. -->
<form action="/answer" id="answerform" method="post" style="display:none;">
    <br>
    <div id="question"></div>
    <br>
    Answer: <br><textarea name="answerText" cols=50 rows=10></textarea>
    <br>
    <input type="submit" value="submit answer" class="submit-answer"/>
	<button type="button" onclick="window.location='/index_student'" class="submit-answer">back</button>
    <div id="counter" class="countdowntime"></div>
</form>
{% endblock %}
