{% extends "_base.html" %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="/static/js/jquery.timer.js"></script>
<script type="text/javascript" src="/static/js/jquery.countdown.js"></script>
{% endblock %}

{% block content %}

<!-- For answering a question. -->
<form action="/answerit" id="answerform" method="post">
    <input type="hidden" name="questionid" value="{{ question.id}}"/>
    <div id="question">{{ question.text }}</div>
    Answer: <br><textarea name="text" cols=50 rows=10></textarea>
    <br/>
    <input type="submit" value="submit answer" class="submit-answer"/>
	<button type="button" onclick="window.location='/index_student'" class="submit-answer">back</button>
    <div id="counter" class="countdowntime"></div>
</form>
{% endblock %}
