{% extends "_base.html" %}
{% block content %}
<p>
    The trust tracker is a useful tool in measuring the participation of students over time. Trust is gained when students answer questions, and have their questions ranked positively by
    other students. Trust is lost when not participating in questions or ranking, or when answers are ranked negatively by other students.
</p>

<p><a href="/trustdata_start.html" class="blue">Go back</a></p>

<p><b>Record for {{ data2.username }} with current trust {{ data2.trust }}.</b></p>

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>time</th>
            <th>trust</th>
            <th>participation</th>
        </tr>
    </thead>
    {% for element in data %}
    <tr>
        <td>{{ element.created }}</td>
        <td>{{ element.trust }}</td>
        <td>{{ (element.answered / element.asked * 100)|round }}%</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}