{% extends "_base.html" %}
{% block content %}
{% set i = 0 %}

<script language=javascript type='text/javascript'> 
    function do_stuff(string) {
        document.getElementById("trust_edit_"+string).style.display = 'block';
        document.getElementById("trust_view_"+string).style.display = 'none';
    }
</script>

<p>The trust tracker is a useful tool in measuring the participation of students over time. Trust is gained when students answer questions, and have their questions ranked positively by other students. Trust is lost when not participating in questions or ranking, or when answers are ranked negatively by other students.</p>

<p>This page contains the current trust value for students. Click on a student's name for details on that student's history.</p>

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>student</th>
            <th>trust</th>
            <th>edit</th>
        </tr>
    </thead>
    {% for element in data %}
    {% set i = i + 1 %}
    <tr>
        <td>{{ i }}</td>
        <td><a href="/trustdata?uid={{ element.userid }}" class="blue">{{ element.username }}</a></td>
        <td>{{ element.trust }}</td>
        <td id="trust_edit_{{element.userid}}" style="display: none;">
            <form action="/adjust_trust?uid={{element.userid}}" name="" method="post">
                New value: <input type="number" name="quantity" min="0" max="2500"> </input>
            </form>
        </td>
        
        <td id="trust_view_{{element.userid}}" style="display: block;"><input type="edit-trust" id="edit-trust" value="edit trust" class="btn-primary btn" onclick=do_stuff("{{element.userid}}") ></button></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}